<settings>
  <activeProfiles>
    <!--make the profile active all the time -->
    <activeProfile>securecentral</activeProfile>
  </activeProfiles>
  <proxies>
  <proxy>
  <id>optional</id>
  <active>true</active>
  <protocol>http</protocol>
  <!--<username>optional-proxyuser</username>
  <password>optional-proxypass</password>-->
  <host>proxy.ebiz.verizon.com</host>
  <port>80</port>
  <nonProxyHosts>local.net|some.host.com</nonProxyHosts>
</proxy>
<proxy>
  <id>optional</id>
  <active>true</active>
  <protocol>https</protocol>
  <!--<username>optional-proxyuser</username>
  <password>optional-proxypass</password>-->
  <host>proxy.ebiz.verizon.com</host>
  <port>80</port>
  <nonProxyHosts>local.net|some.host.com</nonProxyHosts>
</proxy>
  </proxies>
  
  <profiles>
    <profile>
      <id>securecentral</id>
      <!--Override the repository (and pluginRepository) "central" from the
         Maven Super POM -->
      <repositories>
        <repository>
          <id>central</id>
          <url>https://repo1.maven.org/maven2</url>
          <releases>
            <enabled>true</enabled>
          </releases>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>https://repo1.maven.org/maven2</url>
          <releases>
            <enabled>true</enabled>
          </releases>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
</settings>
